.DS_Store
*.swp
*.swo
*.pyc
*.DS_Store

*__pycache__/
*.db

code/day_1/1_linear_regression/1D_linear_regression/main_optimal_params_solution.py
code/day_1/1_linear_regression/1D_linear_regression/utils_solution.py
code/day_1/1_linear_regression/1D_linear_regression/images/*.pdf
code/day_1/1_linear_regression/1D_linear_regression/images_backup/*.pdf
code/day_1/1_linear_regression/1D_linear_regression/data/
code/day_1/1_linear_regression/1D_linear_regression/*.pdf
