.DS_Store
*.swp
*.swo
*.pyc
*.DS_Store

*__pycache__/
*.db

.ipynb_checkpoints

code/.ipython/*
code/.jupyter/*
code/.local/*
code/__pycache__/*
code/.bash_history

code/**/*solution*
code/day_*/**/*.pdf

# Day 1
code/day_1/1_linear_regression/1D_linear_regression/data/*.npy

code/day_1/1_linear_regression/dD_linear_regression/data/*.npy

# Day 2
code/day_2/3_metrics/hybrid_data/images/*_*

# Day 3
code/day_3/2_neural_networks/mnist/data/*.npy

# Day 4
